/* RESET START */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #8c8c8c;
    font: 300 14px/1 "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    color: inherit;
    text-decoration: none; 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
/* RESET END*/

/* DEFAULT CLASES START */
.text-link-icon{
    color: #c7b299;
}
.text-white{
    color: #fff;
}
.text-grey{
    color: #555555;
}
.bg-color-fb{
    background-color:  #fbfaf8;
}
.text-wax{
    color: #c7b299;
}
/* DEFAULT CLASES END */

/* DEFAULT COMPONENT START */

/* == container == */
.container.fluid{
    padding: 0 15px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/* == container end == */

/* == defailt-section == */
.default-section{
    padding: 80px 0 0 0;
}
.default-section.small{
    padding: 50px 0;
    background: linear-gradient(to right, #251d1b, #452f24)
}
/* == defailt-section end == */

/* == title == */
.title{
    font-size: 30px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
.title.small{
    font-size: 22px;
}
/* == title end == */

/* = default-text = */
.default-text{
    font-size: 14px;
    line-height: 1;
}
/* = default-text end = */

/* ======= header ======= */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 40px;
}
.header-nav,
.search-nav{
    line-height: 56px;
}
.header-nav{
    padding-right: 60px; 
}
.header-nav a{
    font-size: 14px;
    font-weight: 400;
}
.search-nav a{
    font-size: 25px;
    font-weight: 400; 
}
.header-nav a + a,
.search-nav a + a{
    padding-left: 30px;
}
.header-nav a:hover,
.search-nav a:hover{
    color: #c7b299;
}
/* ======= header end ======= */

/* === btn btn-default=== */
.btn{
    font-size: 14px;
    font-weight: 800;
    line-height: 1.64;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding: 19px 37px 18px 40px;
    margin-top: 50px;
}
.btn.btn-default{
    color: #fff;
    background-color: #998675;
}
.btn.btn-default:hover{
    color: #c7b299;
    background-color: #736357;
}
/* === btn btn-default end=== */

/* === carousel === */
.carousel {
    position: initial;
}
.carousel-control-prev,
.carousel-control-next{
    font-size: 100px;
} 
/* === carousel end === */

/* DEFAULT COMPONENT END */

/* CUSTOM STYLE START */

/* ======= inner ======= */
.inner{
    height: 100vh;
    background: url(../img/inner-bg.jpg) no-repeat center / cover;
    text-align: center;
    padding-top: 100px;
}
.inner::before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
}
.inner-content{
    display: inline-block;
    vertical-align: middle;
}
.carousel-inner .title{
    font-size: 36px;
    font-weight: 500;
}
.carousel-inner h1{
    font-size: 52px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
}
.carousel-inner h1 span{
    display: block;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.carousel-inner .default-text{
    max-width: 58%;
    font-weight: 300;
    margin: auto;
    line-height: 2;
}
/* ======= inner end ======= */

/* ======= services-tab ======= */

.nav-tabs{
    border-bottom: none;
}
.services-tab .nav-tabs > li{
	width: 25%;
	text-align: center;
}
.services-tab .nav-tabs > li a{
    font-size: 14px;
    font-weight: 600;
}
.services-tab .nav-tabs > li a span:not(.icon){
	display: block;
}
.services-tab .nav-tabs > li .icon{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #555;
}
.services-tab .nav-tabs .title{
    font-size: 22px;
    color: #555;
}.services-tab .nav-tabs p,
.services-tab .nav-tabs .active p{
    position: relative;
    margin-bottom: 134px;
}
.services-tab .nav-tabs p::before,
.services-tab .nav-tabs .active p::before{
    content: '';
    display: inline-block;
    height: 5px;  
    position: absolute;
    bottom: -5px; 
}
.services-tab .nav-tabs p::before{
    background-color: #f1eee9;
    width: 70px;
    left: 39%;
    top: 110px;
}
.services-tab .nav-tabs .active p::before{
    background-color: #c7b299;
    width: 70px;
    left: 39%;
    top: 110px;
}
.services-tab .nav-tabs .active span{
    color: #c7b299;
}
.services-tab .nav-tabs .default-text{
    padding-top: 15px;
    line-height: 1.6;
}
/* ======= services-tab end ======= */
.default-section.small .btn{
    margin-top: 0;
}
.default-section.small .default-text{
    color: #615855;
    font-size: 18px;
    font-weight: 600;
    padding-top: 13px;
}
.idea-wrap {
    padding-top: 80px;
}
.idea-wrap .default-text{
    padding: 19px 0 35px 0;
    margin: auto;
    max-width: 760px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.letest-progect .default-text{
    margin: auto;
    max-width: 743px;
    margin-top: 25px;
    line-height: 28px;
}
.letest-progect .letest-progect-img .letest-item .letest-item-info{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fbfaf8;
}
.letest-progect .letest-progect-img .letest-item .letest-item-info:hover{
    background-color: #362f2d;
}
.letest-progect .letest-progect-img .letest-item .letest-item-img{
    position: relative;
}
.letest-progect .letest-progect-img .letest-item .letest-item-img .letest-item-icon{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transform: scale(.8);
    transition: all .3s linear;
}
.letest-progect .letest-progect-img .letest-item .letest-item-img:hover .letest-item-icon{
    opacity: 1;
    transform: scale(1);
}
.letest-progect .letest-progect-img .letest-item span{
    display: block;
}
.letest-progect .letest-progect-img .letest-item .letest-item-info{
    font-family: "Montserrat", sans-serif;
    line-height: 20px;
}
.letest-progect .letest-progect-img .letest-item .letest-item-info .letest-item-prosesing{
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
}
.letest-progect .letest-progect-img .letest-item .letest-item-info .letest-item-role{
    color: #d1d1d1;
    font-size: 14px;
    line-height: 20px
}
.letest-progect .letest-progect-img .letest-item .letest-item-img .letest-item-icon{
    font-size: 20px;
}
.nav-pills{
    margin-top: 30px;
}
.nav-pills .nav-link.active{
    background-color: #998675;
}
.nav-link{
    border: 1px solid #ebebeb;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
}
.nav-item + .nav-item{
    padding-left: 10px;
}
/* CUSTOM STYLE END */